<nav class="navbar navbar-inverse navbar-dark bg-dark"> <!-- making the navbar black -->
    <div class="container-fluid" id="navbar"> <!-- spanning the entire width of the viewport -->
      <div class="navbar-header">
        <a class="navbar-brand" href="/home" id="brand"><span id="logo">&And;&bemptyv;</span>UANTING</a>
      </div>
      <ul class="nav navbar-nav" id='navList'>
        <li class="active"><a href="/home">Home </a></li> <!-- making Home the main element --> 
        <li><a href="/products">Products </a></li>
        <li><a href="/account">Account</a></li>
      </ul>
    </div>
</nav> 
