<%- include('partials/head', {cssPaths}) %> 
<%- include('partials/navbar') %> 
<div class="card" id="databaseCard">
    <div class="card-body">
        <h4 class="card-title">REGISTATION SUCCESS</h4>
        <p id="card-text">
            &nbsp; &nbsp; The registration process is successful, and you will able to apply
            for our products in five minutes. We appreciate your patience and support for AQUANTING!
        </p>
    </div>
</div>
<%- include('partials/footer') %> 
