<%- include('partials/head', {cssPaths}) %> 
<%- include('partials/navbar') %> 
<div id="discription">
    <h1>
        <b>Manage your assets wisely</b>
    </h1>
    <p id="details">
        Incorporating state-of-the-art artificial intelligence approches into 
        fundamental analysis and technical analysis, 
        AQUANTING has shown an average APY of <b> 36.7% </b> in the past three years
        and increased the AUM to <b> 1,000 </b> millions USD this year.
    </p>
    <form action="/products">
        <button type="submit" class="btn btn-dark" id="joinButton"><b>JOIN US NOW!</b></button>
    </form>
</div> 
<%- include('partials/footer') %> 
