<%- include('partials/head', {cssPaths}) %> 
<%- include('partials/navbar') %> 
<div class="card">
    <div class="card-body">
        <h4 class="card-title">ANNOUNCEMENT</h4>
        <p id="card-text">
            &nbsp; &nbsp; Due to the regular maintenance of our website, the member system is
            not open now. The maintenance will be over at 9:00 a.m. tomorrow. Please contact us 
            via email if you have any questions before then. 
            We appreciate your patience and support for AQUANTING!
        </p>
    </div>
</div>
<%- include('partials/footer') %> 
